* {
    margin: 0;
    padding: 0;
    
}

html,body{
    cursor: url("../images/muffin_cursor.png"), auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.hambuger img, a {
    cursor: url("../images/a_cursor.png"), auto;
}

body {
    font-family: 'Noto Sans KR', 'Reddit Mono';
    font-size: 25px;
    line-height: 28px;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* top */
#top {
    height: 700px;
    margin: 0 auto;
    background-image: url(../images/banner.jpg);
    background-position: center;
}

/* .top_inner{
    width: 1400px;
    margin: 0 auto;
} */

.header_bg {
    background-color: rgb(255, 255, 255, 85%);
    height: 60px;
}

.header,
.banner {
    width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.gnb {
    display: flex;
    padding-top: 6px;
}

.gnb li a {
    padding: 0 40px;
    font-weight: 400;
    font-size: 19px;
}

.banner {
    padding-top: 223px;
    display: flex;
    justify-content: space-between;
}

/* .banner_year {
    font-family: 'PyeongChangPeace-Bold';
    font-weight: 300;

} */

.banner_year p {
    font-size: 26px;
    font-family: 'PyeongChang-Bold';
    font-weight: 300;
    padding-top: 7px;
}

.banner_title {
    text-align: start;
    position: relative;
}

.banner_title h3 {
    font-family: 'PyeongChangPeace-Bold';
    font-size: 73px;
    line-height: 100px;
    letter-spacing: 0.7px;
}

@keyframes banner_round {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes banner_arrow {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.banner_round {
    overflow: hidden;
    padding-top: 95px;
    position: relative;
}

.banner_round_ani {
    animation: banner_round 5s linear infinite;
}

.banner_round_arrow {
    position: absolute;
    top: 180px;
    left: 118px;
    animation: banner_arrow 1.5s linear infinite;
}

.hambuger,
.m_menu {
    display: none;
}

.m_menu {
    background-color: rgb(51, 49, 44);
    position: fixed;
    top: 0;
    left: 60vw;
    width: 50vw;
    height: 100%;
    z-index: 99;
    box-sizing: border-box;
    margin-left: 50vw;
}

.tablet_gnb {
    color: white;
    padding: 130px 70px;
}

.tablet_gnb li {
    padding-bottom: 60px;
}

.tablet_gnb li a {
    display: block;
    font-size: 23px;
    padding: 30px;
}

.tablet_gnb li a:hover {
    background-color: #FF5574;
}

.close_btn {
    position: absolute;
    top: 25px;
    left: 35vw;
}

.close_btn button {
    background-color: transparent;
    border: none;
    font: 30px;
    cursor: pointer;
    color: white;
}

/* tablet 이하 */
@media (max-width:1420px) {

    .header,
    .banner {
        width: 100%;
    }

    .logo {
        padding-top: 10px;
        width: 200px;
    }

    .header_bg {
        height: 90px;
    }

    .gnb {
        display: none;
    }

    .hambuger {
        display: block;
        position: absolute;
        padding-right: 20px;
        right: 0;
    }

    .m_menu {
        display: block;
    }
}

/* mobile 이하 */
@media (max-width:600px) {

    .banner_round {
        display: none;
    }

    #top {
        height: 480px;
    }

    .banner {
        padding-top: 103px;
    }

    .tablet_gnb li a {
        font-size: 20px;
        padding: 0px;
    }

    .logo {
        width: 150px;
        padding-left: 20px;
    }

}

/* section01 */
.textflow {
    overflow: hidden;
    background-color: #FF7D95;
    height: 95px;
}

@keyframes textflow1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.textflow_track p {
    font-size: 30px;
    white-space: nowrap;
    animation: textflow1 10s linear infinite;
    color: #FFE3E8;
    padding-top: 35px;
}

.textflow_track span {
    font-weight: 700;
}

.intro {
    background-color: #FFF4F6;
    height: 376px;
    text-align: center;
}

.intro h2 {
    font-size: 60px;
    color: #FF5574;
    padding: 110px 0 50px 0;
}

.intro p {
    font-size: 30px;
    padding: 10px 0;
}

.intro p span {
    background-color: #FFC7D1;
    color: #FF5574;
    font-weight: 700;
}

/* tablet 이하 */
@media (max-width:1420px) {
    .textflow {
        height: 60px;
    }

    .textflow_track p {
        font-size: 30px;
        padding: 15px 0;
    }

    .intro h2,
    .intro p {
        width: 97%;
    }
}

/* mobile 이하 */
@media (max-width:600px) {
    .textflow {
        display: none;
    }

    .intro h2 {
        font-size: 40px;
        padding: 140px 0 30px 0;
    }

    .intro {
        height: 250px;
    }

    .intro p {
        font-size: 20px;
        padding: 0;
    }

    .intro h2 {
        padding: 70px 0 30px 0;
    }
}

/* section02 */
#section02 {
    padding-top: 48px;
    color: #464646;
    font-weight: 500;
}

.section02_overflow {
    overflow: hidden;
    padding-top: 100px;
}

.section02_inner {
    width: 1400px;
    margin: 0 auto;
}

.zone {
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.zone01,
.zone02,
.zone03 {
    padding-bottom: 134px;
}

.zone_top {
    display: flex;
    justify-content: flex-start;
    padding-top: 70px;
}

.zone_top h4 {
    font-size: 34px;
    text-align: center;
    font-weight: 500;
    line-height: 28px;
}

.zone_top h1 {
    font-family: 'PyeongChang-Bold';
    font-size: 150px;
    padding-top: 50px;
    padding-left: 27px;
    font-weight: 500;
}

.zone_bottom h5 {
    font-size: 40px;
    padding: 75px 0 62px 0;
    font-weight: 500;
}

.zone_bottom p {
    padding-bottom: 30px;
    line-height: 40px;
}

.l_zone_a {
    padding-right: 32px;
}

.l_zone_b {
    padding-left: 32px;
}

.l_zone_count {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.r_zone_count {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
}


.zone_count h3 {
    font-family: 'Reddit Mono';
    font-weight: 400;
    font-size: 64px;
    padding-top: 15px;
}

.zone_count h3 span {
    color: #C1C1C1;
}

.bg01 {
    position: absolute;
    top: -71px;
    right: -172px;
    z-index: -1;
}

.bg02 {
    position: absolute;
    top: -600px;
    left: -204px;
    z-index: -1;
}

.bg03 {
    position: absolute;
    top: -290px;
    right: -172px;
    z-index: -1;
}

.bg04 {
    position: absolute;
    top: -220px;
    left: -240px;
    z-index: -1;
}

.r_zone {
    position: relative;
    width: 60vw;
}

.l_zone {
    width: 40vw;
}

/* tablet 이하 */
@media (max-width:1420px) {


    .section02_inner {
        width: 100%;
    }

    .header,
    .banner {
        width: 90%;
    }

    .img_wrap img {
        width: 100%;
    }

    .l_zone {
        width: 75%;
        order: 2;
        display: flex;
        /* justify-content: space-between; */
    }

    .l_zone_a {
        padding-right: 0px;
    }

    .l_zone_b {
        padding-left: 0px;
    }

    .r_zone {
        width: 75%;
        order: 1;
    }

    .zone {
        flex-wrap: wrap;
        justify-content: center;
    }

    .zone_top {
        padding-top: 50px;
    }

    .zone_top h1 {
        padding: 46px 40px 0 30px;
    }

    .r_zone_count {
        justify-content: flex-end;
    }

    .zone_count h3 {
        font-size: 55px;
    }

    .zone_top h1 {
        font-size: 120px;
    }

    .zone_bottom h5 {
        font-size: 36px;
    }

    .zone_bottom p {
        font-size: 28px;
    }

}

/* mobile 이하 */
@media (max-width:600px) {

    .section02_inner {
        width: 100%;
    }

    .l_zone {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .zone_count h3 {
        font-size: 45px;
    }

    .zone_top h1 {
        font-size: 105px;
    }

    .zone_top h4 {
        font-size: 23px;
        line-height: 23px;
    }

    .zone_bottom h5 {
        font-size: 30px;
        font-weight: 600;
    }

    .zone_bottom p {
        font-size: 25px;
    }

}

/* section03 */

.section03_inner {
    width: 1400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.rally_info {
    width: 998px;
    margin: 0 auto;
}

.rally_img {
    display: flex;
    justify-content: center;
}

.r_info {
    padding-top: 183px;
}

/* .l_info{
    position: relative;
} */

@keyframes rally_animation {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.rally_pro {
    position: relative;
}

.rally_pro img {
    display: flex;
    justify-content: start;
    animation: rally_animation 2s linear infinite;
}

.l_info p {
    font-weight: 400;
    position: absolute;
    top: 65px;
    left: 48px;
    animation: rally_animation 2s linear infinite;
}

.rally_txt p {
    color: #838383;
    padding-bottom: 60px;
}

.rally_txt h1 {
    font-family: 'PyeongChangPeace-Bold';
    font-size: 82px;
    padding-top: 82px;
}

.rally_txt h4 {
    font-family: 'Reddit Mono';
    font-size: 38px;
    font-weight: 400;
    padding: 60px;
}

.rally_info {
    padding-top: 60px;
}

.section03_overflow {
    /* position: relative; */
    overflow: hidden;
    padding-top: 200px;
    padding-bottom: 200px;
}

.bg05 {
    position: absolute;
    top: -410px;
    right: -288px;
    z-index: -1;
    padding-top: 162px;
}

.bg06 {
    position: absolute;
    top: 185px;
    left: -222px;
    z-index: -1;
}

.rally_button a {
    display: block;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 25%);
    border-radius: 90px;
    width: 318px;
    height: 98px;
    margin: 63px auto;
}

.rally_button a:hover {
    background-color: #F38DB2;
    color: white;
}

.rally_button p {
    font-weight: 400;
    font-size: 28px;
    padding-top: 35px;
    text-align: center;
}

.img_wrap {
    display: block;
}

/* tablet 이하 */
@media (max-width:1420px) {

    .section03_inner {
        width: 100%;
    }

    .rally_info {
        width: 95%;
    }

    .l_info_img {
        width: 100%;
    }

    .r_info_img {
        width: 100%;
        display: block;
    }

    .section03_overflow {
        padding-top: 150px;

    }

    .rally_button {
        height: 80px;
        justify-content: center;
    }

    .rally_button p {
        font-size: 25px;
        padding-top: 35px;

    }

    .rally_txt h1 {
        font-size: 72px;
    }

    .rally_txt h4 {
        font-size: 30px;
    }
}

/* mobile 이하 */
@media (max-width:600px) {

    .section03_inner {
        width: 100%;
    }

    .rally_info {
        width: 95%;
    }

    .rally_button p {
        font-size: 25px;
        padding-top: 35px;
    }

    .rally_txt h1 {
        font-size: 49px;
    }

    .rally_txt h4 {
        font-size: 28px;
        padding: 40px 0 0 0;
    }

    .l_info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .rally_pro {
        padding-top: 20px;
    }

    .l_info p {
        top: 80px;
        left: 48px;
    }

    .rally_img {
        width: 100%;
        flex-wrap: wrap;
        padding: 0;
    }

    .l_info {
        order: 2;
    }

    .r_info {
        order: 1;
        padding-top: 20px;
    }

    .rally_button a {
        margin: 50px auto;
    }
}

/* section04 */
.section04_inner {
    width: 1400px;
    margin: 0 auto;
}

.schedule_all {
    display: flex;
    justify-content: space-between;
}

.schedule_wrap {
    width: 470px;
    height: 400px;
}

.schedule {
    width: 405px;
    height: 400px;
    margin: 0 auto;
    /* padding: 0 30px; */
}

.schedule_top {
    display: flex;
    justify-content: space-between;
}

.schedule_top h1 {
    font-size: 50px;
    font-weight: 500;
}

.schedule_top p {
    font-size: 30px;
}

.schedule_top p span {
    font-family: 'Reddit Mono';
    padding-right: 10px;
    font-weight: 400;
}

.top_time {
    display: flex;
    justify-content: end;
    color: #737373;
    font-weight: 500;
    padding-bottom: 73px;
}

.schedule_time {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
    color: #616161;
}

.schedule_time h5 {
    font-family: 'Reddit Mono';
    font-weight: 400;
    font-size: 27px;
    padding-top: 6px;
}

.schedule_time h4 {
    font-size: 43px;
    font-weight: 500;
}

.schedule_img {
    text-align: center;
}

.schedule_wrap01,
.schedule_wrap03 {
    border-right: 1px solid #616161;
    border-left: 1px solid #616161;
}

.schedule_about {
    padding: 25px 0;
}

.schedule_about h3 {
    font-weight: 400;
}

/* tablet 이하 */
@media (max-width:1420px) {

    .section04_inner {
        width: 95%;
    }

    .schedule_top {
        width: 100%;
    }

    .top_time {
        flex-direction: column;
        /* justify-content: end; */
    }

    .schedule_all {
        width: 100%;
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
    }

    .schedule_wrap {
        width: 100%;
    }

    .schedule {
        width: 80%;
    }

    .schedule_top h1 {
        font-size: 45px;
    }

    .schedule_top p {
        font-size: 25px;
    }

    .schedule_top p span {
        padding-right: 0px;
    }

    .schedule_time h5 {

        font-size: 17px;
        
    }
}

/* mobile 이하 */
@media (max-width:600px) {

    .section04_inner {
        width: 95%;
    }

    .schedule_top {
        width: 100%;
    }

    .schedule_all {
        width: 100%;
        flex-wrap: wrap;
    }

    .schedule_wrap {
        width: 100%;
    }

    .schedule_top p span {
        display: none;

    }

    .top_time {
        padding-bottom: 40px;
    }

    .schedule_wrap02 {
        border-right: 1px solid #616161;
        border-left: 1px solid #616161;
    }

    .schedule_top h1 {
        font-size: 35px;
    }

    .schedule_top p {
        font-size: 22px;
    }

    .schedule_time h4 {
        font-size: 40px;
    }

    .schedule_time h5 {
        font-size: 25px;
    }
}

/* section05 */


.section05_overflow {
    overflow: hidden;
}

.section05_inner {
    width: 1094px;
    margin: 350px auto;
    position: relative;
}

.ongoing_flex {
    display: flex;
    justify-content: space-between;
}

.ongoing_inner {
    display: flex;
}

.section05_inner h1 {
    font-size: 44px;
    font-weight: 500;
    padding-bottom: 40px;
}

.count{
    display: flex;
    justify-content: center;
}

.ongoing h2 {
    font-size: 30px;
    padding-bottom: 35px;
}

.ongoing h3 {
    font-size: 35px;
}

.ongoing span {
    font-size: 23px;
    padding-left: 7px;
    padding-top: 2px;
}

.ongoing01 {
    padding-right: 100px;
}

.reservation{
    width: 616px;
    height: 180px;
    border-radius: 80px;
    background-color: #464646;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 25%);
}

.reservation a {
    display: block;
    background-image: url(../images/reservation_arrow.png);
    background-repeat: no-repeat;
    background-position: right 75px top 70px;
}

.reservation:hover{
    background-color: #FF7D95;
    border-radius: 80px;
}

.reservation_txt {
    height: 176px;
    box-sizing: border-box;
    color: white;
    
    padding: 75px 0 0 72px;
}

.reservation_txt h4 {
    font-family: 'PyeongChang-Bold';
    font-size: 41px;
    font-weight: 400;
    /* text-align: center; */
}

.section05_inner img {
    position: absolute;
    top: -167px;
    right: -276px;
    z-index: -1;
}

/* tablet 이하 */
@media (max-width:1420px) {

    .section05_inner {
        width: 90%;
        text-align: center;
        /* margin: 270px auto; */
    }

    .reservation {
        width: 80%;
        height: 180px;
    }

    .reservation a {
        background-image: none;
    }

    .ongoing_wrap {
        width: 100%;
        padding-bottom: 40px;
        justify-content: center;
    }

    .ongoing_inner {
        justify-content: center;
    }

    .reservation_txt {
        text-align: center;
        padding: 75px 0 0 0px;
    }

    .reservation_txt h4 {
        font-size: 40px;
    }

    /* .reservation a {
        background-image: none;
    } */

    /* .section05_inner{
        width: 90%;
        margin-top: 180px;
        text-align: center;
    }

    .reservation a{
        width: 100%;
        background-image: none;
        
    }

    .ongoing_wrap{
        width: 100%;
    }

    .reservation_txt{
        padding-left: 77px;
        text-align: center;
    }

    .ongoing_flex {
        justify-content: center;
        flex-wrap: wrap;
    } */
}

/* mobile 이하 */
@media (max-width:600px) {

    .section05_inner {
        width: 90%;
        text-align: center;
            margin: 260px auto;
    }

    .reservation {
        width: 95%;
        height: 180px;
        margin: 0 auto;
    }

    .reservation_txt h4 {
        text-align: center;
        font-size: 40px;
    }

    .ongoing_wrap {
        width: 100%;
        justify-content: center;
        padding-bottom: 40px;
    }

    /* .reservation_txt{
        width: 100%;
    } */

    .ongoing_flex {
        flex-wrap: wrap;
    }
        .reservation a {
        background-image: none;
    }
}

/* footer */
#footer {
    width: 1400px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    /* padding-top: 20px; */
    /* scale: 1; */
}

.footer_info{
    padding-top: 20px;
}

.info_top,
.sns,
.number,
.info_bottom {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: start; */
}

.support {
    display: flex;
}

.sns {
    padding-left: 31px;
    padding-right: 5px;
}

.info_bottom p {
    padding-left: 35px;
    padding-right: 5px;
}

.number,
.info_bottom {
    color: #969696;
    font-size: 14px;
}

.sns li a {
    padding: 0 2px;
}

.number li {
    padding: 10px 5px;
}

.support li {
    padding: 0 10px;
}

.info_bottom p {
    padding-top: 7px;
}

@media (max-width:1420px) {

    #footer {
        width: 100%;
        justify-content: center;
    }

    .logo {
        padding-top: 14px;
    }


    .footer_info{
        padding-top: 5px;
    }
    /* .info_top{
        justify-content: space-between;
    } */

    .logo img {
        width: 100%;
        padding-bottom: 25px;
    }

    .sns li img {
        width: 100%;
    }

    .support li img {
        width: 100%;
    }

    .info_bottom {
        width: 100%;
    }

    .sns li a{
        display: block;
        padding: 0px 2px;
    }

    /* .info_bottom p{
        padding: 10px;
    } */
}

@media (max-width:1412px) {


    .info_top {
        justify-content: space-between;
    }
    
    
    .support {
        padding-left: 25px;
    }

}

@media (max-width:600px) {

    .info_bottom {
        padding-top: 50px;
    }

    .support {
        padding-left: 0px;
    }

    .logo{
        scale: 1.5;
    }

    .info_top {
        justify-content: center;
    }

    .number {
        justify-content: center;
    }

    .info_bottom p {
        padding: 10px;
    }

}